<link rel="stylesheet" href="../../static/polls/style.css">{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<div class="header">
  <h1>System wyborów elektronicznych</h1>
</div>

<div class="topnav">
  <ul>
  <li><a href="/polls/">Głosowanie</a></li>
  <li><a href="/polls/receipt">Paragon</a></li>
  <li><a href="/polls/list">Lista głosów</a></li>
</ul>
</div>

<div class="middle">
  <h1>{{ question.question_text }}</h1>
    <form>
        <ul>
        {% for choice in question.choice_set.all %}
        <li><label for="{{choice.id}}"><input id="{{choice.id}}" type="radio" name="{{choice.choice_text}}" value="{{choice.choice_text}}" required>{{choice.choice_text}}</label></li>
        {% endfor %}
        </ul>
        <input type="submit" value="OK">
    </form>
</div>

<div class="footer">
  Stopka
</div>