<link rel="stylesheet" href="../../static/polls/style.css">{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<div class="header">
  <h1>System wyborów elektronicznych</h1>
</div>

<div class="topnav">
  <ul>
  <li><a href="/polls/">Głosowanie</a></li>
  <li><a href="/polls/receipt">Paragon</a></li>
  <li><a href="/polls/list">Lista głosów</a></li>
</ul>
</div>

<div class="middle">
  <h1>Aktywne głosowania:</h1>
  {% if questions %}
    <ul>
    {% for question in questions %}
        <li><a href="/polls/{{ question.id }}/choose_digit">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</div>

<div class="footer">
  &copy; K. Musolff, P. Gąska
</div>